body{
    background-color: cornflowerblue;
}

.container{
    background-color: aliceblue;
    text-align: center;
}

.preloader-center{
    text-align: center;
}

h1{
    margin: 0;
}

nav{
    background-color: darkcyan;
}

.card{
    width: 26.9%;
    margin: 30px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}